/*RESET STYLESHEET*/
@import "modern-normalize";

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

* {
    margin:0;
}
.background-container {
    height: 100vh;
    background-image: url("images/library-illustration.png");
    background-color: #efdbbc;
    display: flex;
    padding: 100px auto;
    justify-content: center;
    align-items: center;
}

.bookshelf-container {
  height: 100vh;
  background-image: url("images/bookshelf.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: solid #a82f2e 20px;
  box-shadow: 0 0 0 4px black;
  box-sizing: border-box;
  padding: 16px 16px 400px 17px;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 154px 219px 207px;
  column-gap: 30px;
  align-items: end;
}

.book-container {
  height: 154px;
  width: 115px;
  background-image: url("images/book.png");
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-book {
  
}

.icon {
  height: 35px;
  width: 35px;
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.new-book-icon {
  background-image: url('images/add-box.png'); /* Define the image */
}

.open-book-icon {
  background-image: url('images/open-book.png'); /* Define the image */
}

.book {
  text-align: center;
  justify-content: space-between;
  padding: 30px 10px 30px 10px;
}